.introducion_container {
  margin: var(--margin-section);
  padding-block: var(--header-height);
  padding-inline: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.introducion_container div p:nth-child(1) {
  font-size: 1.6rem;
  color: var(--third-color);
}

.introducion_container div p:nth-child(2) {
  font-size: 3rem;
}

.introducion_container div p:nth-child(3) {
  font-size: 1.5rem;
  padding-block: 12px;
}

.introducion_small_text {
  padding: 48px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-word;
}

.introducion_button {
  background-color: var(--background-contrast);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: 2px solid white;
  border-radius: 18px;
  width: 250px;
  color: black;
  margin: 48px auto 0;
  color: var(--white);
  cursor: pointer;
  display: flex;
  gap: 15px;
}

.introducion_container div aside {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.introducion_button:hover {
  background-image: linear-gradient(#2967ff, #c523ff);

  border: 2px solid var(--background-contrast);
}

@media screen and (max-width: 768px) {
  .introducion_container div p:nth-child(1) {
    font-size: 1.4rem;
  }

  .introducion_container div p:nth-child(2) {
    font-size: 2rem;
  }

  .introducion_container div p:nth-child(3) {
    font-size: 1.2rem;
  }

  .introducion_container div aside {
    gap: unset;
  }
}

@media screen and (max-width: 500px) {
  .introducion_container {
    margin: 0px;
    padding-block: 0px;
  }

  .introducion_container div p:nth-child(2) {
    font-size: 1.8rem;
  }

  .introducion_container div aside {
    gap: unset;
  }
}
