.about_container {
  margin: var(--margin-section);
  padding-top: var(--header-height);
}

.about_container_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
  flex-wrap: wrap;
}

.about_container_content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: -20% 0;
}

.about_container_content p {
  font-size: 1.4rem;
  padding: 24px;
  width: 600px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 48px;
}
