.tools_container {
  margin: var(--margin-section);
  padding-top: var(--header-height);
}

.tools_container_display {
  align-items: center;
  display: flex;
  margin-inline: auto;
  overflow-x: auto;
  width: 90%;
}