:root {
  --white: white;
  --primary-color: #7817ff;
  --second-color: #a78aff;
  --third-color: #9fb0fe;
  --highlight: #fd7db8;
  --contrast: #97fed3;
  --background: #090e35;
  --card-background: #181c3c;
  --card-hover: #222750;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  font-family: 'Courier New', Courier, monospace;
  color: var(--white);
}

header a {
  text-decoration: none;
}

header a:hover {
  color: var(--dark-purple);
}

header nav a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

header nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--contrast);
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-101%, 0, 0);
}

header nav a:hover::after {
  transform: translate3d(0, 0, 0);
}

ul {
  list-style: none;
}
