:root {
  --white: white;
  --primary-color: #7817ff;
  --second-color: #a78aff;
  --third-color: #9fb0fe;
  --highlight: #fd7db8;
  --contrast: #97fed3;
  --background: #090e35;
  --background-contrast: #0f143f;
  --card-background: #181c3c;
  --card-hover: #222750;
}
